<!DOCTYPE html>
<html>

<head>

<title>Contact</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<header>

<h1>Emergency Contacts</h1>

<nav>

<a href="/">Home</a>
<a href="/about">About</a>
<a href="/report">Report Issue</a>
<a href="/awareness">Awareness</a>
<a href="/contact">Contact</a>

</nav>

</header>

<div class="container">

<h2>Important Contacts</h2>

<p><b>Municipal Office:</b> 1800-123-456</p>

<p><b>Health Department:</b> 1800-222-111</p>

<p><b>Emergency Ambulance:</b> 108</p>

<p><b>Police:</b> 100</p>

<p><b>Email:</b> sanitationportal@gmail.com</p>

</div>

</body>

</html>