<!DOCTYPE html>
<html>
<head>
    <title>Sanitation Management Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<header>
    <h1>Sanitation Management and Community Awareness Portal</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/report">Report Issue</a>
        <a href="/awareness">Awareness</a>
    </nav>
</header>

<div class="container">
    <h2>Welcome</h2>

    <p>
        This website was developed as part of our Community Service Project
        to promote sanitation, hygiene, and environmental cleanliness.
    </p>

    <p>
        Citizens can learn about sanitation practices and report sanitation-related
        issues to improve the cleanliness of the community.
    </p>

    <img src="https://images.unsplash.com/photo-1528323273322-d81458248d40?w=900"
         width="40%">

</div>

<footer>
    Community Service Project | CSE (AI & ML)
</footer>

</body>
</html>